// DatePicker styles

.day-picker {
  width: 152px;
  float: left;
  label {
    margin-left: 20px;
  }
}

.filter-dropdown-wrapper {
  width: 100%;
  border: 1px solid #666;
  display: inline-block;
  height: 40px;
  position: relative;

  > h4 {
    margin: 10px 0;
    text-indent: 10px;
    text-transform: capitalize;
  }

  .filter-dropdown {
    display: none;
    width: 194px;
    background-color: #F3F3F3;
    position: absolute;
    border: 1px solid #666;
    top: 45px;
    padding: 15px 20px;

    &.between {
      width: 390px;
    }

    .filter-select {
      float: left;
      width: 100px;
      border: 1px solid;
      clear: both;
      margin-right: 100%;
      margin-bottom: 10px;
    }

    .form-control {
      height: 26px;
      background-color: transparent;
      border: none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    .filter-actions {
      float: left;
      width: 100%;

      .fa {
        color: #CF6666;
        margin-right: 3px;
      }

      > a {
        float: right;
        border-radius: 0;
      }

      > p {
        float: left;
        font-size: 10px;
        font-style: italic;
      }
    }
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  
  &.expand {
    .overlay {
      display: block;
    }
    .filter-dropdown {
      display: block;
    }
    .button-expand {
      &:before {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }
  }

  .button-expand {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    cursor: pointer;
    width: 30px;
    height: 40px;
    color: black;
    
    &:before {
      content: '▶';
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
      display: block;
      margin: 10px;
    }
  }

  .filter-select {
    float: left;
    width: 100%;
  }

  .separator {
    text-align: center;
    width: 40px;
    height: 200px;
    display: table;
    float: left;

    span {
      vertical-align:middle;
      display: table-cell;
    }
  }

  .dateInput {
    text-align: center;
    width: 95px;
    padding: 4px;
    border: 1px solid #A7A7A7;
  }
}